@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-magneta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --Light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 93.76%;
}

body {
  margin: 0;
  font-family: "Spartan", sans-serif;
  color: var(--very-dark-magneta);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: -28vw -21vh/100% no-repeat url(./assets/bg-pattern-top-desktop.svg),23vw 23vh no-repeat url(./assets/bg-pattern-bottom-desktop.svg);
}

.container {
  /* border: 1px solid red; */
  width: 80vw;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.col {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 20px;
}

.col-4 {
  flex: 0 0 33%;
  max-width: 33%;
}

.col-3{
  flex: 0 0 25%;
  max-width: 25%;
}

.col-8 {
  flex: 0 0 63.33%;
  max-width: 63.33%;
}

.col-9{
  flex: 0 0 74.7%;
  max-width: 74.7%;
}

.heading > div > h1 {
  font-size: 3rem;
}

.description {
  text-align: left;
  padding-right: 50px;
  margin-top: 10px;
  color: var(--dark-grayish-magenta);
}

.logo > img  {
  width: 40px;
  height: 40px;
  border-radius: 50%;  
}

.ratings {
  background-color: var(--Light-grayish-magenta);
  padding: 12px 15px;
  border-radius: 5px;
}

.ratingsText {
  color: hsl(300, 43%, 22%);
}

.ratingsSection{
  padding: 50px;
}

.ratingsSection > div {
  margin-bottom: 12px;
  width: 90%;
}

.ratingsSection > div:nth-child(1) {
  margin-left: 0;
  margin-right: 60px;
}

.ratingsSection > div:nth-child(2) {
  margin-left: 30px;
  margin-right: 40px;
}

.ratingsSection > div:nth-child(3) {
  margin-left: 60px;
  margin-right: 0;
}

.stars {
  display: inline-block;
  color: gold;
  margin-right: 20px;
}

.review {
  padding: 20px;
  background-color: var(--very-dark-magneta);
  color: var(--white);
  border-radius: 5px;
  font-size: 0.8rem;
  max-height: 150px;
  max-width: 320px;
}

.reviewDescription {
  margin-top: 10px;
  color: var(--light-grayish-magenta);
}

.reviewerName{
  padding-top: 10px;
}

.verifiedBuyer{
  color: var(--soft-pink);
}

.reviewsSection{
  margin-top: 50px;
}

.reviewsSection > div:nth-child(1) {
  margin-top: 0;
  
}

.reviewsSection > div:nth-child(2) {
  margin-top: 15px;
}

.reviewsSection > div:nth-child(3) {
  margin-top: 30px;
}

@media(max-width:1080px){

  body{
    background: 0 -5vh/100% no-repeat url(./assets/bg-pattern-top-desktop.svg),23vw 23vh no-repeat url(./assets/bg-pattern-bottom-desktop.svg);
  }
  .container{
    width: 90vw;
    margin:40px 20px !important;
  }

  .col-sm-12{
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
  }

  .heading{
    text-align: center !important;
  }

  .description{
    text-align: center !important;
    padding: 0 !important;
  }

  .ratingsSection{
    margin-top: 60px;
  }

  .review{
    padding: 20px !important;
  }

  .ratingsSection > div{
    width: 100% !important;
  }

  .text-center {
    text-align: center !important;
  }
  
  .reviewsSection > div:nth-child(1) {
    margin-top: 0 !important; 
  }

  .ratingsSection > div {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
}
